
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Name[en_GB]=Run
Exec=bash /home/bill/projects/xmas/fade/go
Icon[en_GB]=/home/bill/projects/xmas/santalaughing.gif
Comment[en_GB]=Collect and Print
Name=Run
Comment=Collect and Print
Icon=/home/bill/projects/xmas/santalaughing.gif
GenericName[en_GB.UTF-8]=Collect and Print photos
